<a href="https://colab.research.google.com/github/jerin-jo/retailanalyticsproject2021/blob/main/mkt_analytics_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
from scipy import stats
import statsmodels.api as sm
import matplotlib.pyplot as plt

%matplotlib inline

## Import dataset

In [4]:
DATAPATH = 'frozen meals.xlsx'

data = pd.read_excel(DATAPATH)
data.head()

   REGION WEEK ENDING          UPC  ... FLAVOR/SCENT  UNITS DOLLARS
0       4  2018-01-28  14854998001  ...  HOT / SPICY  238.0  520.10
1       1  2018-02-04  14854997630  ...         MEAT  147.0  883.33
2       1  2018-02-11  14854999434  ...        ASIAN  203.0  192.08
3       1  2018-02-11  14854998940  ...         MEAT   56.0  256.13
4       2  2018-02-25  14854999115  ...       CHEESE   91.0  249.13

[5 rows x 15 columns]

In [5]:
data.shape

(725936, 15)

In [8]:
data.dropna(axis=1, how='all', inplace=True)
data.dropna(axis=0, how='all', inplace=True)

In [9]:
data.shape

(725936, 15)

In [10]:
data.columns

Index(['REGION', 'WEEK ENDING', 'UPC', 'CATEGORY', 'PARENT', 'MANUFACTURER',
       'BRAND', 'MAJOR BRAND', 'PRIVATE LABEL/NATIONAL', 'PRODUCT DESCRIPTION',
       'PRODUCT TYPE', 'PACKAGING GROUP', 'FLAVOR/SCENT', 'UNITS', 'DOLLARS'],
      dtype='object')

In [18]:
data['WEEK ENDING'].astype = pd.to_datetime(data['WEEK ENDING'])

AttributeError: ignored

In [22]:
data['WEEK ENDING'].describe()

count                  725936
unique                    156
top       2020-03-15 00:00:00
freq                     5328
first     2017-12-17 00:00:00
last      2020-12-06 00:00:00
Name: WEEK ENDING, dtype: object

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 725936 entries, 0 to 725935
Data columns (total 15 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   REGION                  725936 non-null  int64
 1   WEEK ENDING             725936 non-null  datetime64[ns]
 2   UPC                     725936 non-null  int64
 3   CATEGORY                725936 non-null  object
 4   PARENT                  725936 non-null  object
 5   MANUFACTURER            725936 non-null  object
 6   BRAND                   725936 non-null  object
 7   MAJOR BRAND             725936 non-null  object
 8   PRIVATE LABEL/NATIONAL  725936 non-null  object
 9   PRODUCT DESCRIPTION     725936 non-null  object
 10  PRODUCT TYPE            725936 non-null  object
 11  PACKAGING GROUP         725936 non-null  object
 12  FLAVOR/SCENT            725936 non-null  object
 13  UNITS                   725936 non-null  float64
 14  DOLLARS                 725936 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(10)
memory usage: 88.6+ MB

In [24]:
drop_cols = ['UPC', 'CATEGORY', 'MANUFACTURER', 'PRIVATE LABEL/NATIONAL', 'PRODUCT DESCRIPTION', 'PRODUCT TYPE', 'PACKAGING GROUP', 'FLAVOR/SCENT', 'UNITS']
data.drop(drop_cols, axis=1, inplace=True)

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 725936 entries, 0 to 725935
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   REGION       725936 non-null  int64
 1   WEEK ENDING  725936 non-null  datetime64[ns]
 2   PARENT       725936 non-null  object
 3   BRAND        725936 non-null  object
 4   MAJOR BRAND  725936 non-null  object
 5   DOLLARS      725936 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 38.8+ MB

In [38]:
data.columns = ['region','weekending','parent', 'brand','majorbrand','revenue'] # Renames columns

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 725936 entries, 0 to 725935
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   region      725936 non-null  int64
 1   weekending  725936 non-null  datetime64[ns]
 2   parent      725936 non-null  object
 3   brand       725936 non-null  object
 4   majorbrand  725936 non-null  object
 5   revenue     725936 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 38.8+ MB

In [41]:
data['weekending'].astype = pd.to_datetime(data['weekending']).dt.date #just dates